ACCESS_TOKEN="!!temp!!pwd"
HD1_LOCATION="./test_data/scenario-2/hd1"
HD2_LOCATION="./test_data/scenario-2/hd2"
HD3_LOCATION="./test_data/scenario-2/hd3"
ELASTIC_HOST=es01
ELASTIC_PORT=9200
KIBANA_HOST=kib01
KIBANA_PORT=5601
HOST_HD1_LOCATION="./test/scenario-data-sets/data-sets"
HOST_HD2_LOCATION="./test/scenario-data-sets/hd2"
HOST_HD3_LOCATION="./test/scenario-data-sets/hd3"
HOST_MINIO_LOCATION="./test/scenario-data-sets"
ENDPOINTS="{\"Endpoints\": [{\"IP\": \"34.245.221.234\", \"Port\": \"8080\"}, {\"IP\": \"34.240.183.4\", \"Port\": \"8080\"}, {\"IP\": \"84.16.229.232\", \"Port\": \"8080\"}]}"
#ENDPOINTS='{"Endpoints":[{"IP":"34.240.183.4", "Port":"8080"},{"IP":"91.109.25.86", "Port":"8080"}]}'
