esxi_credentials1 = {
  username             = "username"
  password             = "password"
  host                 = "esxi01.glasswall-icap.com"
  allow_unverified_ssl = true
  ssh_port             = 22
  ssl_port             = 443
}

esxi_credentials2 = {
  username             = "username"
  password             = "password"
  host                 = "esxi02.glasswall-icap.com"
  allow_unverified_ssl = true
  ssh_port             = 22
  ssl_port             = 443
}


ova_source = {
  sdk             = "<<Path To OVA>>"
  workflow        = "<<Path To OVA>>"
  offline_desktop = "<<Path To OVA>>"
}

instance_counts1 = {
  sdk             = 2
  workflow        = 0
  offline_desktop = 0
}

instance_counts2 = {
  sdk             = 4
  workflow        = 0
  offline_desktop = 0
}

datastore_esxi1    = "datastore1"
datastore_esxi2    = "datastore1"
desktop_disk_size  = 50
desktop_memory_mib = 4096
desktop_vcpu_count = "2"
network_esxi1       = "VMs"
network_esxi2       = "VMs"
sdk_disk_size       = 50
sdk_memory_mib      = 16384
sdk_vcpu_count      = "4"
workflow_disk_size  = 50
workflow_memory_mib = 4096
workflow_vcpu_count = "2"

sdk_ip_addresses_esxi1      = []
sdk_gateway_esxi1           = []


workflow_ip_addresses_esxi1 = []
workflow_gateway_esxi1      = []

od_ip_addresses_esxi1       = []
od_gateway_esxi1            = []

sdk_ip_addresses_esxi2      = []
sdk_gateway_esxi2          = []

od_ip_addresses_esxi2       = []
od_gateway_esxi2            = []

workflow_gateway_esxi2      = []
workflow_ip_addresses_esxi2 = []
