esxi_credentials1 = {
  username             = "username"
  password             = "password"
  host                 = "esxi01.glasswall-icap.com"
  allow_unverified_ssl = true
  ssh_port             = 22
  ssl_port             = 443
}

esxi_credentials2 = {
  username             = "username"
  password             = "password"
  host                 = "esxi02.glasswall-icap.com"
  allow_unverified_ssl = true
  ssh_port             = 22
  ssl_port             = 443
}


ova_source = {
  sdk             = "<<Path To OVA>>"
  workflow        = "<<Path To OVA>>"
  offline_desktop = "<<Path To OVA>>"
}

instance_counts1 = {
  sdk             = 2
  workflow        = 0
  offline_desktop = 0
}

instance_counts2 = {
  sdk             = 4
  workflow        = 0
  offline_desktop = 0
}

datastore_esxi1    = "datastore1"
datastore_esxi2    = "datastore1"
desktop_memory_mib = 4096
desktop_vcpu_count = 2
network_esxi1       = "VMs"
network_esxi2       = "VMs"
ova_source          = null
sdk_memory_mib      = 4096
sdk_vcpu_count      = 4
workflow_memory_mib = 4096
workflow_vcpu_count = 2
