esxi_credentials1 = {
  username             = "username"
  password             = "password"
  host                 = "esxi02.glasswall-icap.com"
  allow_unverified_ssl = true
  ssh_port             = 22
}

esxi_credentials2 = {
  username             = "username"
  password             = "password"
  host                 = "esxi02.glasswall-icap.com"
  allow_unverified_ssl = true
  ssh_port             = 22
}

ova_urls = {
  sdk             = "https://<path to ova>.ova"
  workflow        = "https://<path to ova>.ova"
  offline_desktop = "https://<path to ova>.ova"
}

instance_counts1 = {
  sdk             = 2
  workflow        = 1
  offline_desktop = 0
}

instance_counts2 = {
  sdk             = 4
  workflow        = 0
  offline_desktop = 0
}
