git+https://github.com/owasp-sbot/OSBot-Utils.git
fastapi
python-dateutil
python-dotenv
python-json-logger
pydantic
requests
starlette
urllib3
uvicorn
wheel
xmltodict
aiofiles

# for testing
coveralls
pytest
pytest-cov

# logging
elasticsearch==7.12.0
