git+https://github.com/owasp-sbot/OSBot-Utils.git
git+https://github.com/owasp-sbot/OSBot-Elastic.git
fastapi
python-dateutil
python-dotenv
python-json-logger
pydantic
requests
starlette
urllib3
uvicorn
wheel
xmltodict

# for testing
coveralls
pytest
pytest-cov

# logging
elasticsearch==7.12.0

# needed for OSBOT-Elastic
git+https://github.com/owasp-sbot/OSBot-AWS.git
boto3