esxi_credentials = {
  username             = "username"
  password             = "password"
  host                 = "domain-name.com"
  allow_unverified_ssl = true
  ssh_port             = 22
  ssl_port             = 443
}
