{
"hostname":       "glasswall",
"domain":         "local",
"ssh_user":       "glasswall",
"ssh_pass":       "changeme",
"cd_dir":         "cdrom",
"esxi_host":      "esxi.example.com",
"esxi_datastore": "datastore1",
"esxi_username":  "root",
"esxi_password":  "changeme",
"vswitch":        "VM",
"ssh_host":       "192.168.1.2",
"vm_name":        "ubuntu-base-gw",
"memory":          "2048",
"cpu":             "2",
"elastic_host":    "xxx.xxx.xxx.xxx",
"elastic_port":    "9200",
"elastic_user":    "user",
"elastic_password":    "changeme"
}
